In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

df1 = pd.read_excel("/content/drive/MyDrive/Dissertation/data/df1.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/Dissertation/data/df2.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/Dissertation/data/jogi_score.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/Dissertation/data/df4.xlsx")

In [ ]:
df1.columns

Index(['match_id', 'start_date', 'venue', 'innings', 'batting_team',
       'bowling_team', 'striker', 'non_striker', 'bowler', 'completed_over',
       'ball_no', 'runs_off_bat', 'extras', 'wicket_type', 'fall_of_wicket'],
      dtype='object')

In [ ]:
df3.columns

Index(['match_id', 'start_date', 'venue', 'innings', 'batting_team',
       'bowling_team', 'striker', 'non_striker', 'bowler', 'completed_over',
       'ball_no', 'runs_off_bat', 'extras', 'wicket_type', 'fall_of_wicket',
       'cumulative_runs', 'cumulative_wicket'],
      dtype='object')

In [ ]:
df2

,completed_over,ball_no,zero,one,two,three,four,five,six,seven,eight,nine
0,0.0,1,0.869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,2,0.961,0.766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,3,1.006,0.683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,4,1.069,0.704,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,5,1.059,0.894,0.651,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
115,19.0,2,NaN,1.676,2.125,2.017,1.901,1.865,1.748,1.569,1.463,1.272
116,19.0,3,NaN,2.104,2.091,1.924,2.063,1.816,1.693,1.565,1.462,1.249
117,19.0,4,NaN,2.368,2.008,2.012,2.102,2.021,1.812,1.667,1.499,1.243
118,19.0,5,NaN,2.200,2.023,2.076,2.021,1.927,1.898,1.693,1.561,1.354
119,19.0,6,NaN,2.457,1.845,2.088,2.093,2.003,1.929,1.792,1.671,1.626

In [ ]:
# Drop rows where cumulative_wicket is 11
df3 = df3.loc[df3['cumulative_wicket'] != 11]

In [ ]:
df3

,match_id,start_date,venue,innings,batting_team,bowling_team,striker,non_striker,bowler,completed_over,ball_no,runs_off_bat,extras,wicket_type,fall_of_wicket,cumulative_runs,cumulative_wicket
0,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,SL Malinga,0,1,0,0,NaN,0,0,0
1,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,SL Malinga,0,2,0,0,NaN,0,0,0
2,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,SL Malinga,0,3,1,0,NaN,0,1,0
3,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,M Klinger,AJ Finch,SL Malinga,0,4,2,0,NaN,0,3,0
4,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,M Klinger,AJ Finch,SL Malinga,0,5,0,0,NaN,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393632,995469,9/9/2016,R Premadasa Stadium,2,Australia,Sri Lanka,TM Head,PM Nevill,SS Pathirana,17,1,1,0,NaN,0,116,6
393633,995469,9/9/2016,R Premadasa Stadium,2,Australia,Sri Lanka,PM Nevill,TM Head,SS Pathirana,17,2,3,0,NaN,0,119,6
393634,995469,9/9/2016,R Premadasa Stadium,2,Australia,Sri Lanka,TM Head,PM Nevill,SS Pathirana,17,3,0,0,NaN,0,119,6
393635,995469,9/9/2016,R Premadasa Stadium,2,Australia,Sri Lanka,TM Head,PM Nevill,SS Pathirana,17,4,0,0,NaN,0,119,6
393636,995469,9/9/2016,R Premadasa Stadium,2,Australia,Sri Lanka,TM Head,PM Nevill,SS Pathirana,17,5,6,0,NaN,0,125,6

In [ ]:
df2.columns

Index(['completed_over', 'ball_no', 'zero', 'one', 'two', 'three', 'four',
       'five', 'six', 'seven', 'eight', 'nine'],
      dtype='object')

In [ ]:
import pandas as pd

# Merge df3 and df2 on 'completed_over' and 'ball_no', but convert float columns to int before merging
df3.loc[:, 'completed_over'] = df3.loc[:, 'completed_over'].astype(int)
df2.loc[:, 'completed_over'] = df2.loc[:, 'completed_over'].astype(int)
df2.loc[:, 'ball_no'] = df2.loc[:, 'ball_no'].astype(int)

# Merge df3 and df2 on 'completed_over' and 'ball_no'
merged_df = df3.merge(df2, on=['completed_over', 'ball_no'], how='left')

# Define a function to calculate the expected_runs based on the conditions
def calculate_expected_runs(row):
    cumulative_wicket = row['cumulative_wicket']
    if cumulative_wicket <= 9:
      wicket_columns = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
      column_name = wicket_columns[cumulative_wicket]
      return row[column_name]
    else:
      return None

# Apply the function to create the 'expected_score' column
merged_df['expected_run'] = merged_df.apply(calculate_expected_runs, axis=1)

# Update df3 with the 'expected_runs' column from merged_df
df3['expected_run'] = merged_df['expected_run']

<ipython-input-9-ab3afd3c1d71>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.loc[:, 'completed_over'] = df3.loc[:, 'completed_over'].astype(int)
<ipython-input-9-ab3afd3c1d71>:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df2.loc[:, 'completed_over'] = df2.loc[:, 'completed_over'].astype(int)

In [ ]:
df3['expected_run'] = df3['expected_run'].fillna(method='ffill')

In [ ]:
df3.head(10)

,match_id,start_date,venue,innings,batting_team,bowling_team,striker,non_striker,bowler,completed_over,ball_no,runs_off_bat,extras,wicket_type,fall_of_wicket,cumulative_runs,cumulative_wicket,expected_run
0,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,SL Malinga,0,1,0,0,NaN,0,0,0,0.869
1,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,SL Malinga,0,2,0,0,NaN,0,0,0,0.961
2,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,SL Malinga,0,3,1,0,NaN,0,1,0,1.006
3,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,M Klinger,AJ Finch,SL Malinga,0,4,2,0,NaN,0,3,0,1.069
4,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,M Klinger,AJ Finch,SL Malinga,0,5,0,0,NaN,0,3,0,1.059
5,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,M Klinger,AJ Finch,SL Malinga,0,6,3,0,NaN,0,3,0,1.062
6,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,M Klinger,AJ Finch,KMDN Kulasekara,1,1,0,0,NaN,0,0,0,1.084
7,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,M Klinger,AJ Finch,KMDN Kulasekara,1,2,1,0,NaN,0,1,0,1.185
8,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,KMDN Kulasekara,1,3,0,0,NaN,0,1,0,1.252
9,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,KMDN Kulasekara,1,4,0,0,NaN,0,1,0,1.274

In [ ]:
# Calculate the difference between 'expected_run' and 'runs_off_bat'
df3['jogi_score'] = df3['expected_run'] - df3['runs_off_bat']

In [ ]:
df3.head(10)

,match_id,start_date,venue,innings,batting_team,bowling_team,striker,non_striker,bowler,completed_over,ball_no,runs_off_bat,extras,wicket_type,fall_of_wicket,cumulative_runs,cumulative_wicket,expected_run,jogi_score
0,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,SL Malinga,0,1,0,0,NaN,0,0,0,0.869,0.869
1,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,SL Malinga,0,2,0,0,NaN,0,0,0,0.961,0.961
2,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,SL Malinga,0,3,1,0,NaN,0,1,0,1.006,0.006
3,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,M Klinger,AJ Finch,SL Malinga,0,4,2,0,NaN,0,3,0,1.069,-0.931
4,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,M Klinger,AJ Finch,SL Malinga,0,5,0,0,NaN,0,3,0,1.059,1.059
5,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,M Klinger,AJ Finch,SL Malinga,0,6,3,0,NaN,0,3,0,1.062,-1.938
6,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,M Klinger,AJ Finch,KMDN Kulasekara,1,1,0,0,NaN,0,0,0,1.084,1.084
7,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,M Klinger,AJ Finch,KMDN Kulasekara,1,2,1,0,NaN,0,1,0,1.185,0.185
8,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,KMDN Kulasekara,1,3,0,0,NaN,0,1,0,1.252,1.252
9,1001349,2/17/2017,Melbourne Cricket Ground,1,Australia,Sri Lanka,AJ Finch,M Klinger,KMDN Kulasekara,1,4,0,0,NaN,0,1,0,1.274,1.274

In [ ]:
df4.columns

Index(['completed_over', 'zero', 'one', 'two', 'three', 'four', 'five', 'six',
       'seven', 'eight', 'nine'],
      dtype='object')

In [ ]:

# Merge df3 and df4 on 'completed_over', but convert float columns to int before merging
df3.loc[:, 'completed_over'] = df3.loc[:, 'completed_over'].astype(int)
df4.loc[:, 'completed_over'] = df4.loc[:, 'completed_over'].astype(int)

# Merge df3 and df2 on 'completed_over'
merged_df = df3.merge(df4, on=['completed_over'], how='left')

# Define a function to calculate the expected_wicket based on the conditions
def calculate_expected_wicket(row):
    cumulative_wicket = row['cumulative_wicket']
    if cumulative_wicket <= 9:
      wicket_columns = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
      column_name = wicket_columns[cumulative_wicket]
      return row[column_name]
    else:
      return None

# Apply the function to create the 'expected_wicket' column
merged_df['expected_wicket'] = merged_df.apply(calculate_expected_wicket, axis=1)

# Update df3 with the 'jogi_score' column from merged_df
df3['expected_wicket'] = merged_df['expected_wicket']

In [ ]:
# Calculate the difference between 'expected_wicket' and 'fall_of_wicket'
df3['dismissal_factor'] = df3['fall_of_wicket'] - df3['expected_wicket']

In [ ]:
for i in range(len(df3['ball_no'])):
  if df3['ball_no'].iloc[i] == 1:
    df3['dismissal_factor'].iloc[i] = df3['dismissal_factor'].fillna(method='bfill').iloc[i]
  else:
    df3['dismissal_factor'].iloc[i] = df3['dismissal_factor'].fillna(method='ffill').iloc[i]

<ipython-input-17-1294322c830e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['bowler_impact'].iloc[i] = df3['bowler_impact'].fillna(method='bfill').iloc[i]
<ipython-input-17-1294322c830e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['bowler_impact'].iloc[i] = df3['bowler_impact'].fillna(method='ffill').iloc[i]

In [ ]:
df3.to_excel("expected.xlsx")